<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin</a>
  <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3 text_align_end">
    <!-- 
      @description: Approval button
    -->
    <button class="btn btn-outline-success text" type="submit" id=back>
      <h3>Back</h3>
    </button>
   
    <!-- 
      @description: logout button
    -->
    <button class="btn btn-outline-success text" type="submit" id=logout>
      <h3>logout</h3>
    </button>
  </div>
</nav>

<!-- 
      @description: Advance and basic buttoun with count
  -->
  <div>
    <div id="services" class="row text_align_center"></div>
  </div>
  <br>
  <div class="card1">
    <div class="col-lg-12 col-xs-2 col-sm-2 col-md-4">
      <div class="card" id=card>
        <div class="container">
          <table id="cartList" class="table">
            <thead>
              <tr>
                <!-- 
                     @description: Table Heading
                -->
                <th>SR No.</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>PRODUCT</th>
                <th>ACCEPT/CANCEL</th>
                </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
      <h5><label id='FirstName'></label></h5>
      <h5><label id='Email'></label></h5>
      <h5><label id='Service'></label></h5>
    </div>
  </div>