.navbar{
height: 13%;
// margin-right: -194px;
}
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    margin-left: 6px;
}
.table{
    max-width: 1462px;
}
.container {
    max-width: 1462px;
}
.table td {
    padding: 30px 10px;
}
.table th{
    width: 402px;
    padding: 24px;
}
.table thead{
    width: 402px;
    padding: 24px;
}